<divider>
<style>
  .divider-select {
    user-select: none;
  }
</style>
<div class="py-20">
  <div class="divider-select mx-4 md:mx-8 lg:mx-12">
    <img
      alt="divider"
      draggable="false"
      class="w-full h-auto max-w-7xl mx-auto"
      src="/divider.svg"
    />
  </div>
</div>
</divider>