<section>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');
    .poppinsBold{
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
    }
    .poppinsMedium{
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
    }
    .hero {
      /* font-family: "Poppins" sans-serif; */
      border-radius: 450px 0px 0px 0px;
      background: linear-gradient(180deg, rgba(92, 92, 92, 0.20) 0.15%, rgba(0, 2, 1, 0.20) 74.5%);
    }

    .hero-p {
      background: linear-gradient(90deg, #AEC3FE 1.24%, #7EA0FF 16.32%, #00FF38 108.44%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .trusted {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(89, 195, 170, 0.14) 45.62%, rgba(0, 0, 0, 0.28) 91.24%);
    }
=======
.trusted {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.28) 0%, rgba(89, 195, 170, 0.14) 45.62%, rgba(0, 0, 0, 0.28) 91.24%);
}
  .divider-select {
    user-select: none;
}
/* >>>>>>> 1ec4d91 (added fonts, and made some changes with divider) */

    .trustedlogo {
      background: #525252;
    }
  </style>

  <div class="hero mt-10 mx-auto max-w-7xl px-4 pt-32 pb-32 flex justify-center text-center">
    <div>
      <div class="max-w-4xl	">
        <h2 class="text-gray-100 text-8xl font-extrabold poppinsBold">We Love POPPINS</h2>
        <p class="hero-p py-3 poppinsMedium">This is an example paragraph This is an example paragraph This is an example paragraphThis is an example paragraphThis is an example paragraph</p>
      </div>
      <div class="p-4 py-8">
        <a class="bg-white rounded-3xl text-gray-800 p-4 px-4 " href="https://github.com/michael-andreuzza/astrosaas">Get Started</a>
        <a class="border rounded-3xl border-gray-300 text-gray-200 p-4" href="https://github.com/michael-andreuzza/astrosaas">Other Resources</a>

      </div>
      <dl
        class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div class="text-slate-500">
          <strong class="text-slate-700"
            >Astro, Tailwind CSS and Alpine.js</strong
          > ━ This are the popular technologies behind Astrosaas.
        </div>
        <div class="text-slate-500">
          <strong class="text-slate-700">Includes 6 pages</strong> ━ You will find
          this landing, faq, terms,privacy,sign up and sign in pages.
        </div>
        <div class="text-slate-500">
          <strong class="text-slate-700">Different section</strong> ━ The starter
          includes different feature sections, a pricing table, testmionial, CTA
          and full forms. more.
        </div>
      </dl>
    </div>


  </div>
      <div class="trusted divider-select py-3 grid grid-cols-2 gap-1 lg:mt-12 md:grid-cols-5 mt-8 max-w-6xl mx-auto content-center">
      <div class="flex justify-center col-span-1 px-1 py-1 ">
        <img alt="logo" draggable="false" class=" max-h-8" src="/Figma.svg" />
      </div>
      <div class=" flex justify-center col-span-1 px-1 py-1 ">
        <img alt="logo" draggable="false" class="max-h-8" src="/Canva.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-1 py-1 ">
        <img alt="logo" draggable="false" class="max-h-8" src="/Stripe.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-1 py-1 ">
        <img alt="logo" draggable="false" class="max-h-8 " src="/Gitlab.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-1 py-1 ">
        <img alt="logo" draggable="false" class="max-h-8 " src="/Linear.svg" />
<!-- >>>>>>> 1ec4d91 (added fonts, and made some changes with divider) -->
      </div>
    </div>
  </div>