<section id="features">
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Gluten&display=swap");

    .bringyourvision {
      font-family: "Luckiest Guy";
    }

    .green-gradient {
      background: linear-gradient(111deg, #fbed96 20.58%, #abecd6 93.3%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  </style>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-12 scroll-mt-12"
  >
    <div class="mx-auto max-w-2xl text-center flex flex-col items-center">
      <!-- Updated classes here -->
      <div>
        <p class="text-white font-extrabold lg:text-5xl text-4xl">
          <span class="text-white bg-fuchsia-700 px-2"
            >Qualified Developers</span
          > To <span class="text-yellow bringyourvision">Bring Your Vision</span
          > To Life
        </p>
      </div>
    </div>

    <div class="py-16">
      <div class="grid gap-12 grid-cols-2 pt-8">
        <div class="relative">
          <div class="bg-fuchsia-400 px-4 md:px-8 py-64 md:py-57 lg:py-72 rounded-3xl flex justify-center hover-trigger text-center">
            <h1 class="text-black font-extrabold text-2xl lg:text-4xl xl:text-6xl absolute top-0 w-full tracking-wider text-black-poppins poppins-hover">
              Poppins
            </h1>
          </div>
        </div>
        <div class="relative">
          <div class="bg-amber-300 px-4 md:px-8 py-64 md:py-57 lg:py-72 rounded-3xl flex justify-center hover-trigger text-center">
            <h1 class="text-black font-extrabold text-2xl lg:text-4xl xl:text-6xl absolute bottom-0 w-full tracking-wider all-over-hover">
              All-Over
            </h1>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div>
      <div class="py-12">
        <div class="text-center max-w-3xl mx-auto">
          <div class="flex flex-col">
            <h1
              class="text-4xl md:text-6xl lg:text-8xl font-extrabold green-gradient"
            >
              Charming
            </h1>
            <h1
              class="text-4xl md:text-6xl lg:text-8xl font-extrabold green-gradient"
            >
              Poppins Letters
            </h1>
          </div>
        </div>
        <div class="grid gap-4 py-12 lg:grid-cols-3 justify-center">
          <div
            class="bg-black lg:rounded-l-3xl lg:rounded-r-xl rounded-t-3xl rounded-xl border-2 border-neutral-800 text-center"
          >
            <div class="p-12">
              <h2 class="text-gray-200 text-3xl font-extrabold">Redis</h2>
              <p class="text-gray-200 text-sm">
                Serverless database with Redis Api
              </p>
              <a
                class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-3xl focus:outline-none"
                aria-label="Big fish tier"
                href="/register">Get started</a
              >
            </div>
          </div>
          <div
            class="bg-black rounded-xl border-2 border-neutral-800 text-center"
          >
            <div class="p-12">
              <h2 class="text-gray-200 text-3xl font-extrabold">Redis</h2>
              <p class="text-gray-200 text-sm">
                Serverless database with Redis Api
              </p>
              <a
                class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-3xl focus:outline-none"
                aria-label="Big fish tier"
                href="/register">Get started</a
              >
            </div>
          </div>
          <div
            class="bg-black rounded-b-3xl rounded-xl lg:rounded-r-3xl lg:rounded-l-xl border-2 border-neutral-800 text-center"
          >
            <div class="p-12">
              <h2 class="text-gray-200 text-3xl font-extrabold">Redis</h2>
              <p class="text-gray-200 text-sm">
                Serverless database with Redis Api
              </p>
              <a
                class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-3xl focus:outline-none"
                aria-label="Big fish tier"
                href="/register">Get started</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
