<section id="features">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

    .bringyourvision {
      font-family: 'Luckiest Guy';
    }

    .green-gradient {
      background: linear-gradient(111deg, #FBED96 20.58%, #ABECD6 93.3%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    }

  </style>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-12  scroll-mt-12 ">
    <div class="mx-auto max-w-2xl text-center flex flex-col items-center"> <!-- Updated classes here -->
      <div>
        <p class="text-white font-extrabold lg:text-5xl text-4xl ">
          <span class=" text-white bg-fuchsia-700 px-2">Qualified Developers</span> To <span class="text-yellow bringyourvision ">Bring Your Vision</span> To Life
        </p>
      </div>
    </div>
    <div class="py-16">
      <div class="grid gap-12 grid-cols-2 pt-8 ">
      <div class="bg-fuchsia-400 px-8 py-72 rounded-3xl relative flex justify-center  ">
        <h1 class="text-black font-extrabold text-6xl absolute top-8 tracking-wider	 ">Poppins</h1>
      </div>
      <div class="bg-amber-300 px-8 py-72 rounded-3xl relative flex justify-center">
        <h1 class="text-black font-extrabold text-6xl absolute bottom-8 tracking-wider">All-Over</h1>
      </div>
      </div>
      </div>
      <div>
        <div class="py-12">
          <h1 class="text-8xl font-extrabold green-gradient text-center max-w-3xl mx-auto ">Charming Poppins Letters</h1>
          <div class="flex gap-4 py-16 justify-center">
            <div class="bg-black rounded-l-3xl rounded-r-xl px-48 py-24 border-2	border-neutral-800"></div>
            <div class="bg-black rounded-xl px-36 py-24 border-2	border-neutral-800"></div>
            <div class="bg-black rounded-r-3xl rounded-l-xl px-48 py-24 border-2	border-neutral-800"></div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
