<footer>
  <h2 id="footer-heading " class="sr-only">Footer</h2>
  <div class="  flex flex-col items-center justify-start py-4 px-4"> 
    <p class="text-white text-2xl ">Poppins</p>
    <p class="text-neutral-400 mt-5 text-base font-extralight">© 2023 Poppins LLC, based in Delaware.</p>
    <p class="text-neutral-400  text-base mb-5 font-extralight flex items-center">
      <span class="mr-5 flex items-center cursor-pointer hover:text-neutral-200 transition duration-300 ease-in-out" href="https://wwww.google.com">Contact Us <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="#666666" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-right"><line x1="7" y1="17" x2="17" y2="7"></line><polyline points="7 7 17 7 17 17"></polyline></svg></span>
      <span class="flex items-center cursor-pointer hover:text-neutral-200 transition duration-300 ease-in-out">Privacy Policy <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="#666666" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-right"><line x1="7" y1="17" x2="17" y2="7"></line><polyline points="7 7 17 7 17 17"></polyline></svg></span>
      <span class="ml-5 flex items-center cursor-pointer hover:text-neutral-200 transition duration-300 ease-in-out">Terms of Service <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="#666666" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-right"><line x1="7" y1="17" x2="17" y2="7"></line><polyline points="7 7 17 7 17 17"></polyline></svg></span>
    </p>
    <div class=" bg-stone-900 px-6 py-2 rounded-full text-emerald-400 inline-flex gap-x-3 items-center cursor-pointer hover:bg-stone-800 transition duration-150 ease-in-out">
      
      <span class=" bg-emerald-400 p-1.5 rounded-full"></span>
      Status</div>
      <div class="text-neutral-500 max-w-3xl py-8	text-xs text-center">
        <p  >* Redis is a trademark of Redis Ltd. Any rights therein are reserved to Redis Ltd. Any use by Upstash is for referential purposes only and does not indicate any sponsorship, endorsement or affiliation between Redis and Upstash.</p>
<p class="py-1">** Cloudflare, the Cloudflare logo, and Cloudflare Workers are trademarks and/or registered trademarks of Cloudflare, Inc. in the United States and other jurisdictions.</p>
</div>
  </div>
</footer>


