<section class="bg-slate-950  	">
  <div class="w-full ">
    <div class="relative flex rounded-3xl flex-col w-full py-5 mx-auto bg-black md:items-center md:justify-between md:flex-row md:px-6">
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a href="/" class="lg:pr-8 text-white inline-flex items-center gap-3">
          <span class="font-bold text-2xl	font-display">Pristine</span>
        </a>
      </div>
      <nav class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <div class="inline-flex items-center gap-2 list-none lg:ml-auto">
          <a
            href="/signup"
            class="block px-8 py-2 mt-2 text-sm font-medium text-gray-900 rounded-3xl bg-gray-200 md:mt-0 hover:text-accent-400 focus:outline-none focus:shadow-outline">
            Sign in
          </a>
          <a
            href="/login"
            class="inline-flex items-center justify-center px-8 py-2 text-sm font-medium text-gray-900 bg-gray-200 rounded-3xl	 group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-slate-50 active:bg-slate-200 active:text-accent-400 focus-visible:outline-black">
            Sign up
          </a>
        </div>
      </nav>
    </div>
  </div>
</section>
